<robot name="laser" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:property name="laser_length" value="0.025"/>
    <xacro:property name="laser_radius" value="0.025"/>
<!--安装位置-->    
    <xacro:property name="laser_joint_x" value="0"/>
    <xacro:property name="laser_joint_y" value="0"/>
    <xacro:property name="laser_joint_z" value="0.14"/>

    <link name="laser_link">
        <visual>
            <geometry>
                <cylinder radius="${laser_radius}" length="${laser_length}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="black"/>
        </visual>
    </link>
    <joint name="lasesr_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser_link"/>
        <origin xyz="${laser_joint_x} ${laser_joint_y} ${laser_joint_z}"/>
    </joint>
</robot>