<launch>

 <node name="LD06" pkg="ldlidar" type="ldlidar" args="LD06" output="screen" >
    <remap from="/LiDAR/LD06" to="scan"/> <!--雷达-->
 </node>
 <node pkg="tf" type="static_transform_publisher" name="laser_ldlisdar_boradcaster" args="-0.25 0 0 0 0 3.14 laser_link lidar_frame 100"/>

</launch>

